/* body */
body {
  left: 0;
  margin: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

html, body {height: 100%;}

/* menu */
.menu {
  background: #00BFFF;
  left: -200px;
  height: 100%;
  position: fixed;
  width: 160px;
  z-index: 999;
}

/* styling */


table {
    border-collapse: collapse;
}

.headings td{
  color: #00BFFF;
  // font-size: 12px;
}

.grey{
  background-color: rgba(255,255,255, 0.1);
}

.menu ul {
  border-top: 1px solid #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #fff;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: #000;
}

.icon-close i {
  margin-right: 5px;
  font-size: 30px;
  color: #fff;
}

.icon-close {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.icon-menu i {
  margin-right: 5px;
  font-size: 30px;
  color: #00BFFF;
}


/**********Header text**************/


.title-text{
  float: right;
  text-align: right;
  margin-top: 10px;
  padding-top: 0;
  width: 50%;
}

.title-text h1{
  background: #00BFFF;
  padding: 10px 15px 10px 15px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  line-height: 1.1em;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px 0px 0px 0px;
}

/**********Table text**************/

.table-wrapper{
max-width:  95%;
min-height: 200px;
margin: 0 auto;
margin-top: 50px;
}

table{
font-weight: normal;
font-size: 0.9em;
margin: 0 auto;
width: 100%;
color: #fff;
text-align: center;
}



td{
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
word-wrap:break-word;
line-height: 2;
}

tr.body{
  font-size: 85%;
}

table tr:nth-of-type(even) {
background: rgb(40, 40, 40);
}

.notes p{
  color: #ffffff;
  font-size: 80%;
  font-weight: normal;
  line-height: 1.6;
  padding: 0 3%;
}

.cup_text p{
  color: #ffffff;
  font-size: 85%;
  font-weight: normal;
  line-height: 1.6;
  padding: 0 3%;
}

.highlight{
  color: #00BFFF;
}




// MEDIA QUERIES


    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .body_area{
            width: 40%;
        }

        .title-text{
          float: right;
          text-align: right;
          margin-top: 10px;
          padding-top: 0;
          width: 30%;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .body_area{
            width: 40%;
        }

        .title-text{
          float: right;
          text-align: right;
          margin-top: 10px;
          padding-top: 0;
          width: 30%;
        }
    }


