/* body */
body {
  left: 0;
  margin: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

html, body {height: 100%;}

/* menu */
.menu {
  background: #00BFFF;
  left: -200px;
  height: 100%;
  position: fixed;
  width: 160px;
  z-index: 999;
}

/* styling */


table {
    border-collapse: collapse;
}

.headings td{
  color: #00BFFF;
  // font-size: 12px;
}

.grey{
  background-color: rgba(255,255,255, 0.1);
}

.menu ul {
  border-top: 1px solid #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #fff;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: #000;
}

.icon-close i {
  margin-right: 5px;
  font-size: 30px;
  color: #fff;
}

.icon-close {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.icon-menu i {
  margin-right: 5px;
  font-size: 30px;
  color: #00BFFF;
}


/**********Header text**************/


.title-text{
  float: right;
  text-align: right;
  margin-top: 10px;
  padding-top: 0;
  width: 50%;
}

.title-text h1{
  background: #00BFFF;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px 10px 15px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  line-height: 1.1em;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px 0px 0px 0px;
  font-weight: bold;
}

/**********Table text**************/


.body_area{
  color: #fff;
  padding: 0px 0px;
  text-align: center;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
}

.body_area h2{
  text-align: center;
  background-color: rgba(255,255,255, 0.2);
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px;
}

.the_year{
  margin: 30px 0px;
}

.text{
  line-height: 30px;
}

.highlight{
  color: #00BFFF;
}

h3.position{
  color: #000;
  font-size: 1em;
  font-weight: bold;
  margin: 25px 20% 15px 20%;
  background-color: #00BFFF;
  padding: 5px;
}

.exSp{
  padding-top: 10px;
  color: #00BFFF;
}


// Review css

p.review_text {
  font-size: 100px;
  color: blue;
  background-color: blue;
  text-align: left;
}




// MEDIA QUERIES


    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
        .body_area, .bolder, .three, .headings td{
          font-size: 120%;
        }


    }


    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .body_area{
            width: 60%;
        }

        .title-text{
          float: right;
          text-align: right;
          margin-top: 10px;
          padding-top: 0;
          width: 50%;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .body_area{
            width: 50%;
        }

        .title-text{
          float: right;
          text-align: right;
          margin-top: 10px;
          padding-top: 0;
          width: 30%;
        }
    }


